<!--  -->
<accordion-group is-open="ticket.<%= mode %>.ui.is_option_opened"
                 class="sc-acc"
                 ng-if="ticket.current_proc.profile.<%- if mode == 'compile' -%>is_build_required<%- elsif mode == 'link' -%>is_link_independent<%- end -%> === true">
    <accordion-heading>
        <div class="row">
            <div class="col-sm-4">
                <h6>
                    <span class="glyphicon glyphicon-chevron-{{ticket.<%= mode %>.ui.is_option_opened ? 'up' : 'down'}}"></span>
                    <%= mode %> <span class="label"
                                      ng-class="ticket.<%= mode %>.status_ui.label_style">
                        {{ticket.<%= mode %>.status_ui.label}}
                    </span>
                </h6>
            </div>

            <%= render :partial => '_common/result_status_line', :locals => {
                :obj => "ticket.#{mode}"
            } %>
        </div>
    </accordion-heading>


    <%# command line %>
    <%= render :partial => '_common/cmd_line_string', :locals => {
        :obj => "ticket.#{mode}",
        :readonly => readonly
    } %>


    <%# %>
    <% unless readonly %>
        <%= render :partial => '_common/structured_cmd_line', :locals => {
            :obj => "ticket.#{mode}"
        } %>
    <% end %>


    <%# outputs %>
    <%= render :partial => '_common/standard_outputs', :locals => {
        :obj => "ticket.#{mode}"
    } %>
</accordion-group>
<!-- / -->
