<!--  -->
<accordion-group is-open="ticket.<%= mode %>.ui.is_option_opened"
                 class="sc-acc"
                 ng-if="ticket.current_proc.profile.<%- if mode == 'compile' -%>is_build_required<%- elsif mode == 'link' -%>is_link_independent<%- end -%> === true">
    <accordion-heading>
        <div class="row">
            <div class="col-sm-4">
                <h6>
                    <span class="glyphicon glyphicon-chevron-{{ticket.<%= mode %>.ui.is_option_opened ? 'up' : 'down'}}"></span>
                    <%= mode %> <span class="label"
                                      ng-class="ticket.<%= mode %>.ui.label_style">
                        {{ticket.<%= mode %>.ui.label}}
                    </span>
                </h6>
            </div>

            <div class="col-sm-1 text-center">
                <h6 tooltip="ExitCode" tooltip-append-to-body="true" tooltip-placement="bottom" style="{{ticket.<%= mode %>.exit != 0 ? 'color: red;' : ''}}">
                    {{ticket.<%= mode %>.exit}}
                </h6>
            </div>
            <div class="col-sm-1 text-center">
                <h6 tooltip="Signal" tooltip-append-to-body="true" tooltip-placement="bottom">
                    {{ticket.<%= mode %>.signal == null ? "(none)" : ticket.<%= mode %>.signal}}
                </h6>
            </div>
            <div class="col-sm-3 text-center">
                <h6 tooltip="CPU" tooltip-append-to-body="true" tooltip-placement="bottom">
                    {{ticket.<%= mode %>.cpu.toFixed(4)}}<% if mode == 'compile' %>/{{ticket.<%= mode %>.cpu_limit}}<% end %>[sec]
                </h6>
            </div>
            <div class="col-sm-3 text-center">
                <h6 tooltip="Memory" tooltip-append-to-body="true" tooltip-placement="bottom">
                    {{mem_dc(ticket.<%= mode %>.memory)}}<% if mode == 'compile' %>/{{mem_dc(ticket.<%= mode %>.memory_limit)}}<% end %>[KB]
                </h6>
            </div>
        </div>
    </accordion-heading>


    <code class="sc-command-line"
        <%- unless readonly -%>
            <%- if mode == 'compile' -%>
          ng-click="ticket.<%= mode %>.cmd_args.ui.toggle_option_opened()"
          style="cursor: pointer;"
            <%- end -%>
        <%- end -%>
    >
        {{ticket.<%= mode %>.make_command_line_string(<%= readonly %>)}}
    </code>


    <% unless readonly %>
        {{ticket.<%= mode %>.cmd_args.has_option()}}
        {{ticket.<%= mode %>.cmd_args.ui.is_option_opened}}
        <div class="row"
             ng-if="ticket.<%= mode %>.cmd_args.has_option() && ticket.<%= mode %>.cmd_args.ui.is_option_opened === true">

        <div class="col-sm-10">
            <div id="sc-<%= mode %>-options"
                 ui-select2="ticket.<%= mode %>.cmd_args.structured.select2_options"
                 ng-model="ticket.<%= mode %>.cmd_args.structured.selected_data"
                 style="width:100%;"
                 >
            </div>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-default btn-xs" ng-click="ticket.<%= mode %>.set_default_command_line()">
                default???
            </button>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-default btn-xs" ng-click="ticket.<%= mode %>.clear_command_line()">
                clear
            </button>
        </div>
    </div>
    <% end %>


    <div class="row" ng-if="ticket.<%= mode %>.stdout.length>0">
        <div class="col-sm-12" class="sc-output-layout">
            <span class="sc-output-t sc-std" ng-hide="ticket.<%= mode %>.ui.tip_stdout">stdout</span>
            <textarea scroll-glue
                      ng-model="ticket.<%= mode %>.stdout"
                      ng-mouseover="ticket.<%= mode %>.ui.tip_stdout=true"
                      ng-mouseleave="ticket.<%= mode %>.ui.tip_stdout=false"
                      class="sc-output sc-std"
                      rows="8"
                      readonly
                      wrap="{{ticket.<%= mode %>.ui.wrap}}">{{ticket.<%= mode %>.stdout}}</textarea>
        </div>
    </div>

    <div class="row" ng-if="ticket.<%= mode %>.stderr.length>0">
        <div class="col-sm-12" class="sc-output-layout">
            <span class="sc-output-t sc-err" ng-hide="ticket.<%= mode %>.ui.tip_stderr">stderr</span>
            <textarea scroll-glue
                      ng-model="ticket.<%= mode %>.stderr"
                      ng-mouseover="ticket.<%= mode %>.ui.tip_stderr=true"
                      ng-mouseleave="ticket.<%= mode %>.ui.tip_stderr=false"
                      class="sc-output sc-err"
                      rows="8"
                      readonly
                      wrap="{{ticket.<%= mode %>.ui.wrap}}">{{ticket.<%= mode %>.stderr}}</textarea>
        </div>
    </div>
</accordion-group>
<!-- / -->
