<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <h1><span class="glyphicon glyphicon-cog"></span> Settings</h1>
        </div>
    </div>

    <div class="row">
         <div class="col-sm-2">
             <%= render :partial => '_user_menu/menu', :locals => { :active => 'account' } %>
         </div>

         <div class="col-sm-10">
             <div class="well well-sm">
                 <h3><span class="glyphicon glyphicon-pencil"></span> Edit my account</h3>

                 <%= devise_error_messages! %>

                 <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

                     <div class="form-group">
                         <%= f.label :email, :class => 'control-label' %>
                         <div class="input-group">
                             <div class="input-group-addon">@</div>
                             <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'Email' %>
                         </div>

                         <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                             <div>
                                 Currently waiting confirmation for: <%= resource.unconfirmed_email %>
                             </div>
                         <% end %>


                         <%= f.label :password, :class => 'control-label' %> <i>(leave blank if you don't want to change it)</i>
                         <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Password' %>
                         </div>


                         <%= f.label :password_confirmation, :class => 'control-label' %>
                         <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', :placeholder => 'Password (confirmation)' %>
                         </div>


                         <%= f.label :current_password, :class => 'control-label' %> <i>(we need your current password to confirm your changes)</i>
                         <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control', :placeholder => 'Password (current)'  %>
                         </div>
                     </div>

                     <div class="form-group">
                         <%= f.submit "Update", :class => 'btn btn-primary btn-block' %>
                     </div>
                 <% end %>
             </div>

             <div class="well well-sm">
                 <h3><span class="glyphicon glyphicon-remove-circle"></span> Delete my account</h3>
                 <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-danger btn-block' %>
             </div>
         </div>
    </div>
</div>
