<!doctype html>
<html xmlns:ng="http://angularjs.org">
    <head>
        <title>ProcGarden</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%= include_gon %>
        <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= favicon_link_tag '/favicon.ico' %>

        <%= csrf_meta_tags %>
    </head>

    <body data-spy="scroll">
        <!-- container -->
        <div class="container-fluid sc-top-container">
            <!-- header -->
            <div class="navbar navbar-procgarden navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <%= link_to '/', {'class' => 'navbar-brand-procgarden'} do %>
                            <img class="logo" src="/favicon.ico"> ProcGarden(TestMode)
                        <% end %>
                    </div>
                    <nav class="collapse navbar-collapse" role="navigation">
                        <ul class="nav navbar-nav">
                            <li<% if navbar_home? %> class="active"<% end %>>
                                <a href="/">Home</a>
                            </li>

                            <% if false %>
                            <li<% if params[:controller] == "entries" %> class="active"<% end %>>
                                <a href="/entries">Entries</a>
                            </li>

                            <li<% if params[:controller] == "samples" %> class="active"<% end %>>
                                <a href="/samples">Samples</a>
                            </li>
                            <% end # if false%>

                            <li<% if navbar_about? %> class="active"<% end %>>
                                <a href="/about">About</a>
                            </li>

                            <% if can? :manage, :all %>
                                <li<% if navbar_master? %> class="active"<% end %>>
                                    <a href="/master">ControlPanel</a>
                                </li>
                            <% end %>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <% if user_signed_in? %>
                                <li<% if navbar_user? %> class="active"<% end %>>
                                    <%= link_to "/users", {} do %>
                                        <span class="glyphicon glyphicon-th"></span> Logged in as <%= current_user.name %>
                                    <% end %>
                                </li>
                            <% end %>

                            <!-- feedback -->
                            <li id="feedback-box">
                                <a href="#" id="feedback-toggle" data-toggle="dropdown">Feedback <span class="caret"></span></a>
                                <ul class="dropdown-menu sc-feedback" role="menu">
                                    <%= form_tag('/feedback/send', :remote => true, :authenticity_token => true) do %>
                                        <%= text_area_tag :body, '', :id => 'body', :class => 'form-control', :placeholder => 'Please write feedback...', :maxlength => 2048, :rows => 10, 'ng-model' => 'feedback_text' %>

                                        <%= label_tag :limit, 'Up to 2048 characters' %>
                                        <%= submit_tag :send, :class => 'btn btn-primary btn-block', 'ng-disabled' => '!feedback_text' %>
                                    <% end %>
                                </ul>
                            </li>
                            <!-- /feedback -->

                            <% if user_signed_in? %>
                                <li>
                                    <%= link_to "Logout", "/users/sign_out", method: 'delete', class: "navbar-link" %>
                                </li>

                            <% else %>
                                <li<% if navbar_register? %> class="active"<% end %>>
                                    <%= link_to "Register", "/users/sign_up", class: "navbar-link" %>
                                </li>

                                <li<% if navbar_login? %> class="active"<% end %>>
                                    <%= link_to "Login", "/users/sign_in", class: "navbar-link" %>
                                </li>
                            <% end %>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /header -->


            <!-- body -->
            <div class="main-container" ng-view>
                <!-- notice -->
                <% if flash.any?{|k, v| v != ""} %>
                    <div class="container">
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-8">
                            <% flash.each do |name, message| %>
                                <%
                                tag = case name.to_s
                                      when "alert", "error" then
                                        'danger'
                                      when "notice" then
                                        'success'
                                      else
                                        name
                                      end
                                %>

                                <div class="alert alert-<%= tag %> alert-dismissable" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <%= message %>
                                </div>

                            <% end %>
                        </div>
                    </div>
                    </div>
                <% end %>
                <!-- /notice -->

                <%= yield %>

                <!-- footer -->
                <div id="footer">
                    <div class="container-fluid">
                        <img id="symbol-bunchou" src="/assets/pepe.png">
                        <p class="navbar-text pull-right">
                            2013 - 2014 <%= link_to "@yutopp", "https://twitter.com/yutopp" %>
                        </p>
                    </div>
                </div>
                <!-- /footer -->
            </div>
            <!-- body -->

        </div>
        <!-- /container -->

        <!-- feedback modal -->
        <div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="sc-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Thanks for your feedback!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /feedback modal -->
    </body>

    <script type="text/javascript">
    offset = 60;
    $('body').scrollspy({ target: '#sc-navbar', offset: offset });
    $('.sc-nav li a').click(function(event) {
        event.preventDefault();
        $($(this).attr('href'))[0].scrollIntoView();
        scrollBy(0, -offset);
    });
    </script>
</html>
